<!DOCTYPE html>
<html>
<head>
  <link href='/index.css' rel='stylesheet' type='text/css'>
</head>
<body>
  <h1><%=@message%></h1>
  <img src="/img/yelp_logo.jpg" alt="Our logo">
  <p> More information </p>
  <%= erb :form %>
<!--   <form action='/' method="POST">
    <label for="zip">In what zip code are you eating?</label><br />
    <input type="text" id ="zip" name="zip" placeholder="Zipcode"><br />
  </form> -->

</body>
</html>