<!DOCTYPE html>
<html>
<body>
  <h1><%=@message%></h1>
  <h1>Title Restaurant stuff</h1>
  <p> More information </p>
  <form action='/' method="POST">
    In what zip code are you eating? <input type="text" name ="zip" value="">
  </form>

</body>
</html>