<!DOCTYPE html>
<html>
<head>
    <!-- <link rel="stylesheet" type="text/css" href="index.css"> -->
  <link href='http://fonts.googleapis.com/css?family=Diplomata+SC' rel='stylesheet' type='text/css'>
  <style>
  * {
    font: 18px Georgia;
    text-align: center;
  }
  form {
    border: 1px solid black;
    box-shadow: 5px, 5px, 3px, grey;
    padding: 20px 40px;
    background-color: #EDFFF3;
    display: inline-block;
  }
  input#zip {
    border-style: inset;
    border-width: 3px;
    border-color: #167A38;
    padding: 3px;
    margin: 5px;
  }
  span {
    color: red;
    font-weight: bold;
  }
  h1 {
    font-size: 36px;
    font-family: 'Diplomata SC', cursive;
  }
  p {
    margin: 30px auto;
    width: 590px;
  }
  </style>
</head>
<body>
  <h1><span><%=@message%></span></h1>
  <h1>Yelp for Help</h1>
  <p>When you are ready, begin questioning your life choices as you discover what your local pizza joint, bar or diner does not want you to know:</p>
  <form action='/' method="POST">
    <label for="zip">Where are you eating?</label><br />
    <input type="text" id ="zip" name="zip" placeholder="Zipcode"><br />
    <input type="submit" value="Submit">
  </form>
</body>
</html>