<!DOCTYPE html>
<html>

<body>
  <h1>That zip code is incorrect</h1>
  <form action=:zip>
    Where are you eating? <input type="text" name ="zip" value="Your zip code here.">
  </form>

</body>
</html>